div::before{
	content:"Before Element";
	font-size:20px;
	color:red;
}
div::after{
    content:"After Element";
	font-size:20px;
	color:red;
}






/* *{
	font-family:sans-serif;
}
.B-element{
/* 	display:inline-block; */
/* 	color:rgb(255,0,0);
	font-size:20px;
}
.M-element{
	display:inline-block;
}
.A-element{
	display:inline-block;
    color:rgb(255,0,0);
	font-size:20px; */
}
 */